/* DARK BLUE - #083d5d */

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,800;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.header-container {
    background: #ffffff url("../images/header-image.jpeg") no-repeat right top;
    background-size: cover;
}

.hero-text {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 4px #1a104e;
}

.content-container {
    background-color: rgba(8, 61, 93, 0.2);
    padding-bottom: 60px;
}

.results {
    font-size: 25px;
    text-align: center;
}

.country-name {
    font-weight: 700;
}

#date {
    font-weight: 700;
}

.covid-19 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-shadow: 1px 1px 4px #1a104e;
}